@use 'variables' as *;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}

.blur {
  backdrop-filter: blur(4px);
}

.header-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  // position: sticky;
  // top: 60px;
  background: #dcc6a983;
  background: #3950507a;
  background: linear-gradient(90deg, #3034349a 0%, #172c2cb3 100%);
  border-bottom: 1px solid #3c505043;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  height: 60px;
  padding: 0 1.5rem;
  z-index: 100;
  @include breakpoint(md) {
    padding: 0 3rem;
    height: 90px;
    // top: 90px;
  }
  // transition: 0.3s ease all;

  &__content {
    overflow: hidden;
    width: 90vw;
    color: #fff;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__logo {
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
      z-index: 100;
    }

    &__nav {
      top: 0;
      right: 100%;
      bottom: 0;
      width: 100%;
      height: 100vh;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: rgba(rgb(32, 32, 32), 0.9);
      backdrop-filter: blur(4px);
      transform: translate(0);
      transition: 0.3s ease transform;

      @include breakpoint(md) {
        transform: none;
        flex-direction: row;
        background: transparent;
        width: auto;
        height: 100%;
        position: static;
        backdrop-filter: none;
        // margin-right: 4rem;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        @include breakpoint(md) {
          flex-direction: row;
          align-items: center;
          margin-bottom: 0;
          margin-right: calc(0.5rem + #{16px});
        }
        li {
          &:not(:last-child) {
            margin-bottom: 32px;
            @include breakpoint(md) {
              margin-bottom: 0;
              // margin-right: 8px;
            }
          }
          * {
            text-decoration: none;
            color: $accent-color !important;
            padding: 0.7rem 1.2rem;
            // border-radius: 12px;
            border-radius: 0.25rem;
            transition: 0.3s ease all;

            &:hover {
              // background: rgba(#fff, 0.1);
              background: rgba(#fff, 0.02);
              color: $main-color !important;
            }
            &:active {
              // border-radius: calc(#{12px} + 6px);
              background: linear-gradient(rgba(#fff, 0.02), rgba(#fff, 0.04));
            }
          }
        }

        .btn {
          padding-inline: 2.5rem !important;
          margin-left: 0.5rem;
        }
      }

      &.isMenu {
        transform: translate(100%);
      }
    }

    &__toggle {
      cursor: pointer;
      align-content: center;
      position: relative;
      min-width: 2.5rem;
      aspect-ratio: 1;
      transition: 0.3s ease all;
      color: $main-color;

      svg {
        height: 100%;
        width: 100%;
      }
      &:hover {
        color: $accent-color;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}
