@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$main-font: 'Montserrat', sans-serif;
$heading-font: 'Barlow Condensed', sans-serif;
$website-width: 1000px;
// $main-color: #d7bc71;
$main-color: #8ac8c8;
$main-light-color: #b6ffff;
$accent-color: #dcc6a9;
// $accent-color: #dcc6a9;
$light-color: #f0ede6;
$dark-color: #333;
$bg-image: url('../assets/images/header.jpg');
$responsive-paragraph: clamp(0.4rem, 6vw, 1.2rem);
$link-gradient: linear-gradient(to right, #8ac8c8, #dcc6a9);
$link-gradient: #8ac8c8;
// background: linear-gradient(135deg, #8ac8c83a 0%, #dcc6a970 100%);

$stone-top: #b4aaa3;
$stone-middle: #c7beb7;
$stone-bottom: #dcd4cc;
// svg fill: #9b8c99;

// :root {
//   --stone-bottom: #b4aaa3;
//   --stone-middle: #c7beb7;
//   --stone-top: #dcd4cc;
// }

@function set-text-color($color) {
  $lightness: color.channel($color, 'lightness', $space: hsl);

  @if ($lightness > 50) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
