@media (max-width: 580px) {
  header {
    height: 15vh;
    line-height: 1.8;

    h1,
    h2,
    h3 {
      line-height: 1.5;
      margin-bottom: 1.8rem;
    }

    .header-content {
      padding: 0 20px;
      text-align: center;
      align-items: center;
    }
  }

  .height-header-main {
    height: 35vh;
  }

  .section-flexbox-reverse {
    flex-direction: column-reverse;

    .photo {
      height: 15rem;
      margin-top: 1rem;
    }
  }

  .section-flexbox {
    flex-direction: column;
  }

  .section-photo {
    // min-height: 65dvh;
    .label {
      height: 10rem;
      width: 10rem;
      // bottom: -7rem;
    }
  }

  footer {
    .box {
      grid-template-areas:
        'name'
        'email'
        'message'
        'submit';
    }

    .input__submit {
      width: 100%;
    }

    #bottom-info {
      flex-direction: column-reverse;
      gap: 0rem;

      .divider {
        display: none;
      }
    }
  }
}
