@media (max-width: 580px) {
  header {
    h1,
    h2,
    h3 {
      line-height: 1.5;
      margin-bottom: 2rem;
    }
  }

  .section-light {
    .section-flexbox {
      flex-direction: column-reverse;

      .photo {
        height: 15rem;
        margin-top: 1rem;
      }
    }
  }

  .section-photo {
    // min-height: 65dvh;
    .label {
      height: 10rem;
      width: 10rem;
      // bottom: -7rem;
    }
  }

  footer {
    .box {
      grid-template-areas:
        'name'
        'email'
        'message'
        'submit';
    }

    .input__submit {
      width: 100%;
    }
  }
}
